
.answer {
  background-color: red;
  width: auto;
  font-size: 26px;
  text-align: center;
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px;
  padding: 5px;
  line-height: 26px;
}

.correct{
  background-color: green;
}

.btn-primary{
  background-color: white;
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;

}

.title{
  margin: auto;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}