.btn-primary{
    background-color: #E8F75F;
  }
  mat-card{
    width: 256px
  }
  
  body{
    background-color: #E8F75F;
  }
  .mat-app-background{
    background-color: #000057;
  }
  
  .btn-primary{
    background-color: #E8F75F;
  }
  
  mat-card{
    width: 50%;
    margin: auto;
    text-align: center;
  
  }
  
  .title{
    margin: auto;
    background-color: #000057;
    color: white;
  }