.mat-app-background{
  font-size: 18px;
  text-align: center;
}

.btn-primary{
  background-color: grey;
}

body{
  background-color: grey;
}

.title{
  padding: 2px;
  color: white;
  font-size: 40px;
}

  .choices {
    display: block;
  }

  .answer {
    padding: 0;
    list-style: none;
    display: inline-block;
  }
