.mat-app-background{
    font-size: 26px;
  }
  
  .btn-primary{
    background-color: #E8F75F;
  }
  
  body{
    background-color: #E8F75F;
  }
  
  mat-card{
    width: 50%;
    margin: auto;
    text-align: center;
  
  }
  
  .title{
    margin: auto;
    background-color: #000057;
    color: white;
    font-size: 50px;
  }